pandas==2.2.2
scikit-learn==1.4.2
python-dotenv==1.0.1
groq==0.9.0
supabase==2.7.4
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
fastapi
uvicorn
twilio
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
PyYAML
